{% extends 'base.html' %}


{% block title %} {{ book[1] }} {% endblock %}

{% block content %}

<!--Section: Block Content-->
<section class="mb-5 p-5">
    <div class="row p-5">
        <div class="col-md-6 mb-4 mb-md-0">
            <div class="mdb-lightbox">
                <div class="row product-gallery mx-1">
                    <div class="col-12 mb-0 text-center">
                        <img src={{ book[9] }} class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h5>{{ book[1] }}</h5>
            {% for i in range(rating) %}
            <span style="color: orange;" class="fa fa-star checked"></span>
            {% endfor %}
            {% for i in range(5-rating) %}
            <span class="fa fa-star"></span>
            {% endfor %}
            <p class="pt-1">
                {{ description }}
            </p>
            <div class="table-responsive">
                <table class="table table-sm table-borderless mb-0">
                    <tbody>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Author</strong></th>
                            <td>{{ author }}</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Year</strong></th>
                            <td>{{ book[5] }}</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Category</strong></th>
                            <td>{{ category }}</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Number of Pages</strong></th>
                            <td>{{ book[3] }}</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Publisher</strong></th>
                            <td>{{ publisher }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="d-flex flex-row justify-content-between">
                {% if is_in_user_library %}
                <a class="btn btn-primary" href="/remove-from-library/{{ user[0] }}/{{ book[0] }}">Remove from
                    Library</a>
                {% else %}
                <a class="btn btn-primary" href="/add-to-library/{{ user[0] }}/{{ book[0] }}">Add to Library</a>
                {% endif %}

                {% if not is_evaluated %}
                <a href="/evaluate-book/{{user[0]}}/{{book[0]}}" class="btn btn-warning">Evaluate this
                    Book</a>
                {% endif %}

                {% if is_in_user_requests %}
                <a class="btn btn-danger" href="/remove-from-requests/{{ user[0] }}/{{ book[0] }}">Remove Request</a>
                {% else %}
                <a class="btn btn-danger" href="/add-to-requests/{{ user[0] }}/{{ book[0] }}">Request this Book</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!--Section: Block Content-->

<section>
    <div class="container p-3">
        <ul class="evaluations">
            {% for evaluation in evaluations %}
            <div class="evaluation border border-3 p-3">
                <div>
                    <h5 class="text-dark"> A user says:</h5>
                </div>
                <div class="rating">
                    {% for k in range(evaluation[4]) %}
                    <span style="color: orange;" class="fa fa-star checked"></span>
                    {% endfor %}
                    {% for k in range(5- evaluation[4] ) %}
                    <span class="fa fa-star"></span>
                    {% endfor %}
                </div>
                <div class="comment">
                    {{ evaluation[3] }}
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
</section>

<!--Section: Block Content-->
<section class="text-center">
    <h2 class="p-4 text-dark">Suggestions You Might Interest</h2>
    <div class="row">
        {% for i in range(4) %}

        <div class="col-md-6 col-lg-3 mb-5">
            <div class="container">
                <a href="/book/{{ book_suggestions_4[i][7] }}">
                    <div class="view zoom overlay z-depth-2 rounded">
                        <div class="mask">
                            <img style="height: 40vh auto;" class="img-fluid w-50" src={{ book_suggestions_4[i][9] }}>
                            <div class="mask rgba-black-slight"></div>
                        </div>
                </a>
            </div>
            <div class="pt-4">
                <h5>{{ book_suggestions_4[i][1] }}</h5>
                <h6>
                    <span class="text-danger mr-1">{{ authors_suggestions[i] }}</span>
                </h6>
            </div>
            </a>
            </a>
        </div>
    </div>

    {% endfor %}
    </div>
</section>

{% endblock %}