{% extends 'base.html' %}

{% block title %} ITUREADS {% endblock %}

{% block content %}

<section class="bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg">
                <div class="row pt-5">
                    <div class="pt-3 text-center">
                        <h2 class="text-dark">Editor's Suggestions</h2>
                    </div>
                </div>
                <div class="container pt-2 pb-5 my-10 bg-light text-dark">
                    <div class="row">
                        <!-- Carousel -->
                        <div id="recently-added" class="carousel carousel-dark slide" data-bs-ride="carousel">

                            <!-- Indicators/dots -->
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#recently-added" data-bs-slide-to="0"
                                    class="active bg-dark"></button>
                                <button type="button" data-bs-target="#recently-added" data-bs-slide-to="1"
                                    class="bg-dark"></button>
                                <button type="button" data-bs-target="#recently-added" data-bs-slide-to="2"
                                    class="bg-dark"></button>
                            </div>

                            <!-- The slideshow/carousel -->
                            <div class="carousel-inner ">
                                {% for i in range(3) %}
                                {% if i == 0 %}
                                <div class="carousel-item active">
                                    <div class="d-flex justify-content-center align-items-center pb-5 mb-5">
                                        <div class="pb-5">
                                            <a href="/book/{{ editor_suggestions[i][7] }}">
                                                <img style="height:50vh;" src={{ editor_suggestions[i][9] }}
                                                    alt="Los Angeles" class="img-fluid pb-4">
                                            </a>
                                        </div>
                                        <div class="row carousel-caption pt-5 text-dark ">
                                            <a class="btn" href="/book/{{ editor_suggestions[i][7] }}">
                                                <h5>{{ editor_suggestions[i][1] }}</h5>
                                            </a>
                                            <p>{{ e_authors[i] }}</p>
                                            <p>{{ editor_suggestions[i][2] }} / 5</p>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="carousel-item ">
                                    <div class="d-flex justify-content-center align-items-center pb-5 mb-5">
                                        <div class="pb-5">
                                            <a href="/book/{{ editor_suggestions[i][7] }}">
                                                <img style="height:50vh;" src={{ editor_suggestions[i][9] }}
                                                    alt="Los Angeles" class="img-fluid pb-4">
                                            </a>
                                        </div>
                                        <div class="row carousel-caption pt-5 text-dark ">
                                            <a class="btn" href="/book/{{ editor_suggestions[i][7] }}">
                                                <h5>{{ editor_suggestions[i][1] }}</h5>
                                            </a>
                                            <p>{{ e_authors[i] }}</p>
                                            <p>{{ editor_suggestions[i][2] }} / 5</p>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>

                            <!-- Left and right controls/icons -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#recently-added"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon text-dark"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#recently-added"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row pt-5">
                    <div class="pt-3 text-center">
                        <h2 class="text-dark">Top Rated Books</h2>
                    </div>
                </div>
                <div class="container pt-2 pb-5 my-10 bg-light text-dark">
                    <div class="row">
                        <!-- Carousel -->
                        <div id="top-rated" class="carousel carousel-dark slide" data-bs-ride="carousel">

                            <!-- Indicators/dots -->
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#top-rated" data-bs-slide-to="0"
                                    class="active bg-dark"></button>
                                <button type="button" data-bs-target="#top-rated" data-bs-slide-to="1"
                                    class="bg-dark"></button>
                                <button type="button" data-bs-target="#top-rated" data-bs-slide-to="2"
                                    class="bg-dark"></button>
                            </div>

                            <!-- The slideshow/carousel -->
                            <div class="carousel-inner ">
                                {% for i,book in top_3_books.items() %}
                                {% if i == 0 %}
                                <div class="carousel-item active">
                                    <div class="d-flex justify-content-center align-items-center pb-5 mb-5">
                                        <div class="pb-5">
                                            <a href="/book/{{book[7]}}">
                                                <img style="height:50vh;" src={{ book[9] }} alt="Los Angeles"
                                                    class="img-fluid pb-5">
                                            </a>
                                        </div>
                                        <div class="row carousel-caption pt-5 text-dark ">
                                            <a class="btn" href="#">
                                                <h5 style="text-overflow: ellipsis;overflow: hidden;display: block;">{{
                                                    book[1] }}</h5>
                                            </a>
                                            <p>{{ authors[i] }}</p>
                                            <p>{{ book[2] }} / 5</p>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="carousel-item">
                                    <div class="d-flex justify-content-center align-items-center pb-5 mb-5">
                                        <div class="pb-5">
                                            <a href="/book/{{ book[7] }}">
                                                <img style="height:50vh;" src={{ book[9] }} alt="Los Angeles"
                                                    class="img-fluid pb-5">
                                            </a>
                                        </div>
                                        <div class="row carousel-caption pt-5 text-dark ">
                                            <a class="btn" href="#">
                                                <h5>{{ book[1] }}</h5>
                                            </a>
                                            <p>{{ authors[i] }}</p>
                                            <p>{{ book[2] }} / 5</p>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}

                            </div>

                            <!-- Left and right controls/icons -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#top-rated"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon text-dark"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#top-rated"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="categories text-center">
            <h2 class="pb-3 text-dark">Categories</h2>
            <div class="d-inline category-list">
                {% for category in categories %}
                <a class="m-1 btn btn-danger btn-lg" href="/category/{{ category[0] }}">
                    {{ category[1] }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}