{% extends 'base.html' %}

{% block title %} ITUREADS {% endblock %}

{% block content %}
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="my-5">
                <h1>ITUREADS</h1>
            </div>
        </div>
        <h2 class="mb-3">Son Eklenen Kitaplar</h2>

        <div class="container py-3">
            <div class="row">
                <div class="col-sm-6 col-lg-3 bg-danger">
                    <div class="border border-3 my-3">
                        <div class="d-flex justify-content-center border border-3">
                            <img class="img-fluid p-3 " src="http://covers.openlibrary.org/b/isbn/1401308775-M.jpg"
                                alt="">
                        </div>
                        <div class="text-center mb-1">
                            <h4>Dead Poets Society</h4>
                            <p>N.H Kleinbaum</p>
                            <p>8/10</p>
                            <a class="btn btn-secondary" href="#">Detayını Gör</a>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 bg-danger">
                    <div class="border border-3 my-3">
                        <div class="d-flex justify-content-center border border-3">
                            <img class="img-fluid p-3 " src="http://covers.openlibrary.org/b/isbn/1401308775-M.jpg"
                                alt="">
                        </div>
                        <div class="text-center mb-1">
                            <h4>Dead Poets Society</h4>
                            <p>N.H Kleinbaum</p>
                            <p>8/10</p>
                            <a class="btn btn-secondary" href="#">Detayını Gör</a>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 bg-danger">
                    <div class="border border-3 my-3">
                        <div class="d-flex justify-content-center border border-3">
                            <img class="img-fluid p-3 " src="http://covers.openlibrary.org/b/isbn/1401308775-M.jpg"
                                alt="">
                        </div>
                        <div class="text-center mb-1">
                            <h4>Dead Poets Society</h4>
                            <p>N.H Kleinbaum</p>
                            <p>8/10</p>
                            <a class="btn btn-secondary" href="#">Detayını Gör</a>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 bg-danger">
                    <div class="border border-3 my-3">
                        <div class="d-flex justify-content-center border border-3">
                            <img class="img-fluid p-3 " src="http://covers.openlibrary.org/b/isbn/1401308775-M.jpg"
                                alt="">
                        </div>
                        <div class="text-center mb-1">
                            <h4>Dead Poets Society</h4>
                            <p>N.H Kleinbaum</p>
                            <p>8/10</p>
                            <a class="btn btn-secondary" href="#">Detayını Gör</a>
                        </div>

                    </div>
                </div>
            </div>
            <h2 class="mt-5 mb-1">En Beğenilenler</h2>
            <div class="py-3">
                <div class="row">
                    <div class="col-sm-6 col-lg-3 bg-primary">
                        <div class="border border-3 my-3">
                            <div class="d-flex justify-content-center border border-3">
                                <img class="img-fluid p-3 " src="http://covers.openlibrary.org/b/isbn/1401308775-M.jpg"
                                    alt="">
                            </div>
                            <div class="text-center mb-1">
                                <h4>Dead Poets Society</h4>
                                <p>N.H Kleinbaum</p>
                                <p>8/10</p>
                                <a class="btn btn-secondary" href="#">Detayını Gör</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 bg-primary">
                        <div class="border border-3 my-3">
                            <div class="d-flex justify-content-center border border-3">
                                <img class="img-fluid p-3 " src="http://covers.openlibrary.org/b/isbn/1401308775-M.jpg"
                                    alt="">
                            </div>
                            <div class="text-center mb-1">
                                <h4>Dead Poets Society</h4>
                                <p>N.H Kleinbaum</p>
                                <p>8/10</p>
                                <a class="btn btn-secondary" href="#">Detayını Gör</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 bg-primary">
                        <div class="border border-3 my-3">
                            <div class="d-flex justify-content-center border border-3">
                                <img class="img-fluid p-3 " src="http://covers.openlibrary.org/b/isbn/1401308775-M.jpg"
                                    alt="">
                            </div>
                            <div class="text-center mb-1">
                                <h4>Dead Poets Society</h4>
                                <p>N.H Kleinbaum</p>
                                <p>8/10</p>
                                <a class="btn btn-secondary" href="#">Detayını Gör</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 bg-primary">
                        <div class="border border-3 my-3">
                            <div class="d-flex justify-content-center border border-3">
                                <img class="img-fluid p-3 " src="http://covers.openlibrary.org/b/isbn/1401308775-M.jpg"
                                    alt="">
                            </div>
                            <div class="text-center mb-1">
                                <h4>Dead Poets Society</h4>
                                <p>N.H Kleinbaum</p>
                                <p>8/10</p>
                                <a class="btn btn-secondary" href="#">Detayını Gör</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}