{% extends 'base.html' %}


{% block title %} Library {% endblock %}

{% block content %}

<section>
    <div class="container pt-5">
        <div class="row pt-5">
            <div class="col-24">
                <table class="table table-image">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Book</th>
                            <th scope="col">Author</th>
                            <th scope="col">Year</th>
                            <th scope="col">Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(length) %}
                        <tr>
                            <td>
                                <a href="/book/{{ books[i][7] }}">
                                    <img class="img-fluid w-50" src={{ books[i][9] }} alt="">
                                </a>
                            </td>
                            <td>
                                <a class="text-decoration-none text-dark" href="/book/{{ books[i][7] }}">
                                    {{ books[i][1] }}
                                </a>
                            </td>
                            <td>{{ authors[i] }}</td>
                            <td>{{ books[i][5] }}</td>
                            <td>{{ categories[i] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-flex justify-content-center" aria-label="...">
            <ul class="pagination pagination-lg">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#">7</a></li>
                <li class="page-item"><a class="page-link" href="#">8</a></li>
                <li class="page-item"><a class="page-link" href="#">9</a></li>
            </ul>
        </div>
    </div>
</section>


{% endblock %}